#### 람다 함수와 map을 사용하여 다음 물음에 답하시오.

1). 다음 리스트 a의 개개 성분 (원소)에 1을 더해주시오.

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(map(lambda x:x+1,a))

2). 다음 리스트 a와 b의 개개 성분끼리 곱해서 결과를 또다른 리스트로 보여주시오.

In [ ]:
a = [2, 4, 6, 8, 10]

In [ ]:
b = [10, 8, 6, 4, 2]

In [ ]:
list(map(lambda x,y:x*y, a,b))

#### 람다 함수와 filter를 사용하여 다음 물음에 답하시오.

3). 1과 100의 숫자 중 5의 배수를 구하시오. 결과는 리스트로 보여주시오.

In [ ]:
a = range(1,101)

In [ ]:
list(filter(lambda x:x%5==0, a))

4). 다음은 어느 학급 학생들의 신장 데이터 입니다. 160cm 이상인 경우만 간추려서 리스트로 보여주시오.

In [ ]:
a = [145.2, 160.3, 155.2, 171.6, 165.34, 167.2, 161.1, 164.9]

In [ ]:
list(filter(lambda x:x>=160, a))

5). 다음은 어느 학급 학생들의 신장 데이터 입니다. 160cm 이상이며 165cm 이하인 경우만 간추려서 리스트로 보여주시오.

In [ ]:
a = [145.2, 160.3, 155.2, 171.6, 165.34, 167.2, 161.1, 164.9]

In [ ]:
list(filter(lambda x:165>=x>=160, a))

6). 다음은 어느 학급 학생들의 명부입니다. 이름의 첫 글자가 'J'인 경우만 간추려서 리스트로 보여주시오.

In [ ]:
a = ['Sara', 'Jack', 'Rebecca', 'Jennifer', 'Paul', 'Andrew', 'John']

In [ ]:
list(filter(lambda x:x.find('J')==0, a))